/*this is the external CSS file for the Minutes of the Meeting HTML from Lab2*/

/*these selectors were all present on the CSS checklist on the lab documentation*/


header {
    color: rgb(151, 85, 151);
    font: calibri;
}

/*the font is 3rd party font*/
body {
    background-color:blanchedalmond;
    color: brown;
    font-family: 'Open Sans', sans-serif;

}

h1 {
    color: black;
    size: 2px;
}

img {
    margin-left: 0.25in;   
    margin-top: 0.5in;
    margin-bottom: .25in;
}

video {
    margin: 2vw 2vw 2vw 2vw;
}

fieldset {
    display: grid;
    grid-column-end: five;
    grid-row-end: three;
    grid-row-start: two;
}

li {
    display: list-item;
    list-style-type: disc;
}

/*this is an example of the flexbot property*/
nav {
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    flex-basis: initial;

}

/*this is an example of a Display property*/
span {
    display: inline;
}

p {
    padding: 1cm 1cm 1cm 1cm;
    border-left: 25vh;
    border-right: 25vh;
    position: relative;
}

div {
    position: relative;
}

button:hover {
    color: blue;
}

/*this is an example of a pusedo-class selector*/
a:active {
    color: red;
}

form {
    width: 500px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
/*this is the list of CSS selectors on the Lab3 documentation*/

/*class selector*/
  .red {
      color: rgb(223, 56, 56);
  }
/*ID selector*/
  #awesome {
      color:red;

  }
/*Universal selector*/
  *{
    color: black;
  }
/*attribute selector*/
  a[href="#"] {
      background-color: silver;

  }

/*selector list*/
  h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
  }

/*Combinators*/
  ul > ol {
      background-color: purple;
  }

  details + h2 {
      background-color: gold;
  }

  section ~ ol {
      background-color: green;
  }

  li li {
    list-style-type: square;
  }

  #one.two {
      color: red;
  }