header {
    color: rgb(151, 85, 151);
    font: calibri;
}

body {
    background-color:blanchedalmond;
    color: brown;
    font-family: 'Open Sans', sans-serif;

}

h1 {
    color: black;
    size: 2px;
}

img {
    margin-left: 0.25in;   
    margin-top: 0.5in;
    margin-bottom: .25in;
}

video {
    margin: 2vw 2vw 2vw 2vw;
}

fieldset {
    display: grid;
    grid-column-end: five;
    grid-row-end: three;
    grid-row-start: two;
}

li {
    display: list-item;
    list-style-type: disc;
}
nav {
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    flex-basis: initial;

}

span {
    display: inline;
}

p {
    padding: 1cm 1cm 1cm 1cm;
    border-left: 25vh;
    border-right: 25vh;
    position: relative;
}

div {
    position: relative;
}

button:hover {
    color: blue;
}

a:active {
    color: red;
}

form {
    width: 500px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  .red {
      color: rgb(223, 56, 56);
  }

  #awesome {
      color:red;

  }

  *{
    color: black;
  }

  a[href="#"] {
      background-color: silver;

  }
  h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
  }

  
  ul > ol {
      background-color: purple;
  }

  details + h2 {
      background-color: gold;
  }

  section ~ ol {
      background-color: green;
  }

  li li {
    list-style-type: square;
  }

  #one.two {
      color: red;
  }